$gray-0: #fafafa;
$gray-1: #f4f4f5;
$gray-2: #e4e4e7;
$gray-3: #d4d4d8;
$gray-4: #b1b1bb;
$gray-5: #71717a;
$gray-6: #52525b;
$gray-7: #3f3f46;
$gray-8: #27272a;
$gray-9: #18181b;
$gray-10: #07070b;

$green-0: #f0fdf4;
$green-1: #dcfce7;
$green-2: #bbf7d0;
$green-3: #86efac;
$green-4: #4ade80;
$green-5: #22c55e;
$green-6: #16a34a;
$green-7: #15803d;
$green-8: #166534;
$green-9: #14532d;

$blue-0: #eff6ff;
$blue-1: #dbeafe;
$blue-2: #bfdbfe;
$blue-3: #93c5fd;
$blue-4: #60a5fa;
$blue-5: #3b82f6;
$blue-6: #2563eb;
$blue-7: #1d4ed8;
$blue-8: #1e40af;
$blue-9: #1e3a8a;

$brown-light: #a16207;
$brown-medium: #92400e;
$brown-dark: #7c2d12;

$yellow-light: #fef08a;
$yellow-medium: #facc15;
$yellow-dark: #ca8a04;

$pink-light: #fda4af;
$pink-medium: #ec4899;
$pink-dark: #db2777;

$orange-light: #fdba74;
$orange-medium: #f97316;
$orange-dark: #c2410c;

$purple-light: #c084fc;
$purple-medium: #9333ea;
$purple-dark: #6b21a8;

$red-light: #fda4af;
$red-medium: #f43f5e;
$red-dark: #be123c;


$white: #ffffff;
$black: #000000;

// derived colors for elements

$gradient-lr: linear-gradient(to right, $blue-5 0%, $blue-4 10%, $green-4 90%, $green-5 100%);
// $gradient-lr: linear-gradient(to right, $blue-4 0%, $green-4 100%);
$gradient-diagonal: linear-gradient(135deg, $blue-5 0%, $blue-4 10%, $green-4 90%, $green-5 100%);
$gradient-diagonal-rev: linear-gradient(315deg, $blue-5 0%, $blue-4 10%, $green-4 90%, $green-5 100%);