

// Scroll kit
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-blue-300 bg-opacity-25;
  height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-green-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-green-700;
}